#contact {
  min-height: 80vh;

  h2 {
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.5rem;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .contact-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      font-size: 210%;

      .fa-facebook {
        vertical-align: baseline;
        font-size: 130%;
      }

      a {
        color: $main-color;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        &:hover,
        &:focus,
        &:actives {
          color: $secondary-color;
        }
      }

      i {
        vertical-align: middle;
      }
    }

    .contact-image {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }

  img {
    width: 400px;
  }
}
